@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
}

#tag {

}

#tag::before{

}